.container {
    margin: 0 auto;
}

.table {
    padding: 10px;
    text-align: center;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.input{
    border: 1px solid ;
    padding: 15px;
    width: 100%;
}
#order-content form div{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
/*---------------*/
@media only screen and (max-width: 992px) {
    .container {
        width: 90%;
    }

    .center {
        width: 90%;
    }

}

@media only screen and (min-width: 992px) {
    .container {
        width: 80%;
    }

    .center {
        width: 80%;
    }

}

@media only screen and (min-width: 1200px) {
    .container {
        width: 50%;
    }

    .center {
        width: 50%;
    }
}