<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wizard Spell Page</title>
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<section>
    <div class="container">
        <a href="/">
            <img alt="DnD" style="width: 100%; height:100px; object-fit:fill " th:src="@{/img/LogoDnD.png}">
        </a>
    </div>

    <table class="table">
        <thead style="  background-color: rgb(215,15,32);" >
        <tr>
            <th>Name</th>
            <th>Lvl</th>
            <th>Type</th>
            <th>Casting Time</th>
            <th>Range</th>
            <th>Components</th>
            <th>Duration</th>
            <th>Description</th>
            <th>Higher Level</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="result: ${results}" style="height: 90px;">
            <td th:text="${result.getSpellName()}"></td>
            <td th:text="${result.getSpellLevel()}"></td>
            <td th:text="${result.getSpellType()}"></td>
            <td th:text="${result.getCastingTime()}"></td>
            <td th:text="${result.getSpellRange()}"></td>
            <td th:text="${result.getComponents()}"></td>
            <td th:text="${result.getDuration()}"></td>
            <td th:text="${result.getDescription()}"></td>
            <td th:text="${result.getHigherLevels()}"></td>
        </tr>
        </tbody>
    </table>

</section>
</body>
