<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav>
    <section>
        <div class="container">
            <a href="/">
                <img alt="DnD" style="width: 100%; height:100px; object-fit:fill " th:src="@{/img/LogoDnD.png}">
            </a>
            <table>
                <tr th:each="character: ${characters}">
                    <td>
                        <a th:href="'/spells/' + ${character.getId()}">
                            <img
                                    th:src="@{'/img/'+${character.getName()}+'.png'}" alt="DnD"
                                    style="width: 100%; height: 100%; object-fit: fill"
                            />
                        </a>
                    </td>
                    <td th:text="${character.getDescription()}"></td>
                </tr>
            </table>
        </div>
    </section>
</nav>
</body>
</html>