<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wizard Spell Page</title>
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section>
    <div class="container">
        <img alt="DnD" th:href="'/'"  th:onclick="location.href=this.getAttribute('href')" style="width: 100%; height:100px; object-fit:fill "
             th:src="@{/img/LogoDnD.png}">
    </div>
    <table>
        <tr th:each="result: ${results}">
            <td th:text="${result.getSpellName()}"></td>
            <td th:text="${result.getSpellLevel()}"></td>
            <td th:text="${result.getSpellType()}"></td>
            <td th:text="${result.getCastingTime()}"></td>
            <td th:text="${result.getSpellRange()}"></td>
            <td th:text="${result.getComponents()}"></td>
            <td th:text="${result.getDuration()}"></td>
            <td th:text="${result.getDescription()}"></td>
            <td th:text="${result.getHigherLevels()}"></td>


        </tr>
    </table>
</section>
</body>
</html>