<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wizard Spell Page</title>
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div >
    <img th:src="@{/img/Wizzard.jpg}" class="center" style=" width: 80%; height: 300px; object-fit: cover ">
</div>
<table class="container"  >
    <tr>
        <td>
            spell 1
        </td>
        <td>
            spell 2
        </td>
        <td>
            spell 3
        </td>
    </tr>
</table>
</body>
</html>